export APP_DEVELOPMENT=true
 
export APP_PUBLIC_KEY=
export APP_PRIVATE_KEY=
export APP_URL=https://foo.ca
export APP_USERNAME=foo
export APP_PASSWORD=foo
export APP_DB_TYPE=mongodb
export APP_DB_USERNAME=username
export APP_DB_PASSWORD=password
export APP_DB_HOST=mongo
export APP_DB_PORT=27017
export APP_DB_NAME=auth

 
export DAILY_UPDATE_BOT_TOKEN="token"
export DAILY_UPDATE_SIGNING_SECRET=secret
export DAILY_UPDATE_VERIFICATION_TOKEN=token
export DAILY_UPDATE_CLIENT_ID="random-value"
export DAILY_UPDATE_SCOPES="app_mentions:read,channels:history,im:history,chat:write"
export DAILY_UPDATE_SLACK_CHAT_CHANNEL=randomvalue
export DAILY_UPDATE_DB_TYPE=mongodb
export DAILY_UPDATE_DB_USERNAME=username
export DAILY_UPDATE_DB_PASSWORD=password
export DAILY_UPDATE_DB_HOST=mongo
export DAILY_UPDATE_DB_PORT=27017
export DAILY_UPDATE_DB_NAME=dailyupdate
export DAILY_UPDATE_APP_NAME="Daily Update"
export DAILY_UPDATE_ALLOW_MULTIPLE_UPDATES=false
export DAILY_UPDATE_ADMIN='["userid"]'

export TWIL_BOT_TOKEN="token"
export TWIL_SIGNING_SECRET=secret
export TWIL_VERIFICATION_TOKEN=token
export TWIL_CLIENT_ID="random-value"
export TWIL_SCOPES="app_mentions:read,channels:history,im:history,chat:write"
export TWIL_SLACK_CHAT_CHANNEL=randomvalue
export TWIL_DB_TYPE=mongodb
export TWIL_DB_USERNAME=username
export TWIL_DB_PASSWORD=password
export TWIL_DB_HOST=mongo
export TWIL_DB_PORT=27017
export TWIL_DB_NAME=twilbot
export TWIL_APP_NAME="TWIL"
export TWIL_ADMIN='["userid"]'

export TIME_OFF_BOT_TOKEN="token"
export TIME_OFF_SIGNING_SECRET=secret
export TIME_OFF_VERIFICATION_TOKEN=token
export TIME_OFF_CLIENT_ID=
export TIME_OFF_SCOPES="app_mentions:read,chat:write,channels:history,channels:read,commands,incoming-webhook,im:write,im:history,im:read"
export TIME_OFF_SLACK_CHAT_CHANNEL=randomvalue
export TIME_OFF_DB_TYPE=postgresql
export TIME_OFF_DB_USERNAME=username
export TIME_OFF_DB_PASSWORD=password
export TIME_OFF_DB_HOST=postgresql
export TIME_OFF_DB_PORT=5432
export TIME_OFF_DB_NAME=timeoff
export TIME_OFF_APP_NAME="Time Off"
export TIME_OFF_ADMIN='["userid"]'

export RECOGNITION_ADMIN='[]'
export RECOGNITION_MAIN_CHANNEL="C0971NV42"
export RECOGNITION_DAY_OF_WEEK_REMINDER="fri"
export RECOGNITION_BOT_TOKEN="token"
export RECOGNITION_SIGNING_SECRET=secret
export RECOGNITION_VERIFICATION_TOKEN=token
export RECOGNITION_CLIENT_ID=
export RECOGNITION_SCOPES="app_mentions:read,channels:history,im:history,chat:write"
export RECOGNITION_SLACK_CHAT_CHANNEL=randomvalue
export RECOGNITION_DB_TYPE=mongodb
export RECOGNITION_DB_USERNAME=username
export RECOGNITION_DB_PASSWORD=password
export RECOGNITION_DB_HOST=mongo
export RECOGNITION_DB_PORT=27017
export RECOGNITION_DB_NAME=recognition
export RECOGNITION_APP_NAME="Recognition"
export RECOGNITION_COUNT_PER_PAGE=5

export PEER_FEEDBACK_BOT_TOKEN="DUMMYTOKEN"
export PEER_FEEDBACK_SIGNING_SECRET=secret
export PEER_FEEDBACK_VERIFICATION_TOKEN=token
export PEER_FEEDBACK_CLIENT_ID="random-value"
export PEER_FEEDBACK_SCOPES="channels:read,groups:read,mpim:read,im:read,users:read,channels:manage,groups:write,mpim:write,im:write"
export PEER_FEEDBACK_SLACK_CHAT_CHANNEL=randomvalue
export PEER_FEEDBACK_SLACK_APP_USER_ID=appuserid
export PEER_FEEDBACK_DB_TYPE=mongodb
export PEER_FEEDBACK_DB_USERNAME=username
export PEER_FEEDBACK_DB_PASSWORD=password
export PEER_FEEDBACK_DB_HOST=mongo
export PEER_FEEDBACK_DB_PORT=27017
export PEER_FEEDBACK_DB_NAME=peerfeedback
export PEER_FEEDBACK_APP_NAME="Peer Feedback"
export PEER_FEEDBACK_ADMIN='["userid"]'